.soundboard {
  --grid-columnas: 1;
  --grid-padding: 0;
  --col-gap: 1.3rem;

  margin: auto;
  margin-top: 200px;

  max-width: 960px;
  padding-left: 40px;
  padding-right: 40px;

  @media screen and (min-width: 768px) {
    --grid-columnas: 2;
  }

  @media screen and (min-width: 1024px) {
    --grid-columnas: 3;
    padding: 0;
  }
}
